---
---
<div class="flex items-center space-x-2">
  <img 
    src="/images/leo-logo.svg" 
    alt="LeoIsTheGOAT Logo" 
    class="w-12 h-12 border-2 border-primary rounded-full p-1"
    data-aos="fade-down"
  />
  <span class="text-primary font-bold text-xl">LEO</span>
</div>